[mytrigger]
host=10.210.74.143
port=3306
user=repl
password=123qwe
start-position=106
self-server-id=128
mytrigger-info=mytrigger.info
log-file=mytrigger.log
mytrigger-so=./so_call_py.so
row-queue-size=10000
log-level=debug
python-script=mytrigger

#system configure
base64-output=auto
verbose
read-from-remote-server
to-last-log
