[myreplicator]
#master configure
host=10.210.74.143
port=3306
user=repl
password=123qwe
#slave configure
slave-host=10.210.74.143
slave-user=repl
slave-pass=123qwe
slave-port=3307
#other
start-position=4
self-server-id=128
database=zjmdmm
daemon
#master.info
relay-info=/tmp/re.info
