[mysqld]
datadir=/var/lib/mysql
socket=/var/lib/mysql/mysql.sock
user=mysql
# Default to using old password format for compatibility with mysql 3.x
# clients (those using the mysqlclient10 compatibility package).
old_passwords=1

# Disabling symbolic-links is recommended to prevent assorted security risks;
# to do so, uncomment this line:
# symbolic-links=0

[mysqld_safe]
log-error=/var/log/mysqld.log
pid-file=/var/run/mysqld/mysqld.pid


[myreplicator]
host=10.210.74.143
port=3306
user=repl
password=123qwe
read-from-remote-server
to-last-log
start-position=4
self-server-id=128
slave-host=10.210.74.143
slave-user=repl
slave-pass=123qwe
slave-port=3307
short-form
relay-info=/tmp/re.info
database=zjmdmm
