[myreplicator]
host=10.210.74.143
port=3306
user=repl
password=123qwe
read-from-remote-server
to-last-log
start-position=4
self-server-id=128
slave-host=10.210.74.143
slave-user=repl
slave-pass=123qwe
slave-port=3307
short-form
relay-info=/tmp/re.info
database=zjmdmm
#disable-log-bin
#server-id=128
